"""AUTO GENERATED PYDANTIC MODEL for {{ cls.__name__ }}."""

import pydantic


class {{ cls.__name__ }}(pydantic.BaseModel):
    """{{ cls.__doc__ }}"""

{% for key, value in inspect.get_annotations(cls).items() %}    {{ key }}: {{ value.__name__ if isinstance(value, type) else str(value) }}
{% endfor %}
